*{
    margin:0;
    padding:0;
}
.img-sup{
    background-color: #484d50;
    position: absolute;
    left: 0;
    top: 0px;
}
.logo{
    display: flex;
    position: absolute;
    top: 0px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.perfil{
    background: #484d50;
    display: flex;
    position: absolute;
    width: 20%;
    height: 10%;
    left: 58em;
    top: 5em;
    margin: auto;
    align-items:center;
    justify-content:center;
}
.carrinho{ 
    display:flex;
    position: absolute;
    width: 20%;
    height: 10%;
    left: 63em;
    top: 5em;
    margin: auto;
    align-items:center;
    justify-content: center;
}
.search-box{
    position: absolute;
    width: 312px;
    height: 30px;
    left: 31.5em;
    top: 10em;
    transform: translate(-40%, -40%);
    background: #107b10;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    width: 0;
    top: 5px;
    left: 40px;
    transition: .5s;
}
::-webkit-input-placeholder{
    color: #000000;
}
.search-btn{
    position: relative;
    width: 312px;
    height: 40px;
    left: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box:hover > .search-text{
    width:200px;
    padding: 0 6px;
}
#menu{
    text-decoration:none;
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: space-around;
    margin: auto;
    text-transform: uppercase;
    width: 500px;
    position: absolute;
    list-style: none;
    height: 55px;
    top: 14em;
    left: 19em;
}
#menu li{
    display:inline;
}
#menu li a{
    color: #000;
    padding: 10px;
    display:inline-block;
    text-decoration:none;
    transition: background, .4s;
}
#menu li a:hover{
    background-color: #107b10 ;
}
#ban1{
    color: #000;
    background-color: #107b10;
    position: absolute;
    width: 1077px;
    height:45px;
    justify-content: center;
    text-align: center;
    top: 17em;
    font: normal;
    display: flex;
}
h1{
    color: rgb(21, 18, 18);
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
}
.best{  
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: space-around;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    height: 45px;
    left: 0px;
    top: 25vh;
}
.best input{
    position: absolute;
    justify-content: space-around;
    border-radius: 8px;
    width: 168px;
    height: 30px;
    top: 7em;
}
#pc{
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 6.3em;
}
#notebook{
    color: #000000;
    background: #107b10;
    text-align: center;
    left: 30.3em;

}
#play{
    color: #000000;
    background: #107b10;
    text-align: center;
    left: 54.2em;
}
.history{ /*retangulo2*/
    background: #107b10;  
    position: relative;
    width: 1077px;
    height: 115px;
    text-align: center;
    top: 35em;
    display: flex;
}
p{ /*final do retangulo2*/
    padding: 15px;
    color: #000;
    text-transform: capitalize;
    text-align: center;
}
.produtos{
    position:absolute;
    align-items: center;
    width: 1077px;
    height: 520px;
    justify-content: space-around;
    height: 20px;
    top: 45em;
    margin: auto;
    display: flex;
}
.produtos input{
    position: absolute;
    justify-content: space-around;
    border-radius: 8px;
    width: 168px;
    height: 30px;
}
.produtos img{
    position: absolute;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
#cons{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 4.9em;
    width: 175px;
    top:8em;
}
#conso{
    left: 5em;
    width: 175px;
    top:-1.5em;
}
#acess{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 28em;
    width: 175px;
    top: 8em;
}
#aces{
    left: 28em;
    width: 175px;
    top:-1.5em;
}
#comp{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 50.5em;
    width: 175px;
    top: 8em;
}
#compu{
    left: 50.5em;
    width: 175px;
    top:-1.5em;
}
#games{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 4.9em;
    top: 20em;
    width: 175px;
}
#gam{
    left: 5em;
    width: 175px;
    top: 11em;

}
#cust{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 28em;
    top: 20em;
    width: 175px;
}
#cus{ 
    left: 28em;
    top: 11em;
    width: 175px;
}
#comb{ 
    color: #000000;
    background: #107b10;
    text-align: center;
    border-radius: 10px;
    left: 50.5em;
    top: 20em;
    width: 175px;
}
#combo{
    left: 50.5em;
    top: 11em;
    width: 175px;
}
ul{
    
}
.inferior {
    background: blue;
    top:33em;   
    position: relative;
    top: 65em;
    display: flex;
}
.inferior input{
    position: absolute;
    width: 312px;
    height: 30px;
    left: 31.5em;
    top: 3em;
    transform: translate(-40%, -40%);
    background: #107b10;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contatos img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email img{
    position: absolute;
    left: 31.5em;
    top: 8em;
    transform: translate(-40%, -40%);
}
.forNews img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 17em;
    top: 3em;
}
.pagamentos{
    display: ;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 17em;
    top: 3em;
}
