*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: ;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    margin: auto;
    align-items: center;
}
.container-grid{
    background-color: #18792d;
    height: 83px;
}

    










